/* resets */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------- */
h1 {
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    margin: 20px auto;
}

.container,
.container input,
table button {
    font-family: 'Share Tech Mono', monospace;
}

input,
input:active,
button,
button:active {
    outline: none;
    border: none;
    color: white;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/bgPic.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    min-height: 120vh;
    position: relative;
}

.container {
    margin-inline: auto;
    width: 100%;
    max-width: 400px;
    padding: 50px 15px;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    transition: box-shadow 0.2s ease;
}

.container:hover,
.container:focus,
.container:focus-within {
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.4);
}

input,
button {
    color: rgba(196, 196, 196, 0.76);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.452);
    transition: all 0.1s ease;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.329);

}


button {
    width: 100%;
    min-height: 60px;
    font-size: 1.3rem;
}
button:hover {
    background-color: rgba(0, 0, 0, 0.24);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.61);
    transform: scale(1.05);
}

button.equal {
    background: rgba(58, 128, 0, 0.205);
}

button.red {
    background: rgba(255, 0, 0, 0.308);
}

.operators button {
    border-radius: 10px;
    color: rgba(245, 245, 245, 0.692);
}


#displayContainer input {
    width: 100%;
    height: 75px;
    text-align: right;
    font-size: 2rem;
    padding: 5px 20px;
    caret-color: transparent;
}

table {
    width: 100%;
    border-spacing: 15px;
}

table tr td {
    width: 25%;
}




.shape-blob {
    background: #3f8cff52;
    height: 75px;
    width: 75px;
    border-radius: 30% 50% 20% 40%;
    animation:
        transform 20s ease-in-out infinite both alternate,
        movement_one 40s ease-in-out infinite both;
    opacity: .7;
    position: absolute;
    left: 80%;
    top: 50%;
}

.shape-blob.one {
    height: 300px;
    width: 300px;
    left: 100px;
    top: 100px;
    transform: rotate(-180deg);
    animation: transform 30s ease-in-out infinite both alternate, movement_two 60s ease-in-out infinite both;
}

.shape-blob.two {
    height: 150px;
    width: 150px;
    left: 500px;
    top: 50px;
    transform: rotate(-180deg);
    animation: transform 30s ease-in-out infinite both alternate, movement_two 60s ease-in-out infinite both;
}

@keyframes transform {

    0%,
    100% {
        border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
    }

    20% {
        border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%;
    }

    40% {
        border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%;
    }

    60% {
        border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%;
    }

    80% {
        border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;
    }
}


@keyframes movement_one {

    0%,
    100% {
        transform: none;
    }

    50% {
        transform: translate(50%, 20%) rotateY(10deg) scale(1.2);
    }
}

@keyframes movement_two {

    0%,
    500% {
        transform: none;
    }

    50% {
        transform: translate(50%, 20%) rotate(-200deg) scale(1.2);
    }
}